* , *::after, *:before {
  margin: 0;
  padding: 0;
}


.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(55, 53, 53, 0.185);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    /* padding: 0;  */
    background-position: center;
}

.main-container h2 {
  color: rgba(255, 255, 255, 0.743);
}

.main-container p {
  color:  rgba(255, 255, 255, 0.743);
}

.login-container {
  
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: center;
  padding: 60px;
  font-display:initial;
  background-repeat: no-repeat;
  margin: 0;
 
 
}

.login-container  h2 {
   padding: 30px;
  

}

.login-container form {
 padding: 10px;

}

.login-container label {
  padding: 20px;
  
}


.show-container {
    width: 300px;
    margin: 10px;

}

.show-container img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    
}

/* BUTTON EFFECT */
/******************************** */
.button-effect {
    display: block;
    transform: scale(1.0);
    transition: transform 0.23s ease-in-out;
  }
  
  .button-effect:hover {
    transform: scale(1.13);
    filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
    z-index: 999;
  }
  
  /* Disable hover effects on mobile */
  @media (max-width: 768px) {
    .button-effect:hover
    {
        transform: scale(1.0);
        filter: none;
    }
  }